# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
click==8.1.7
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==3.0.4

# Flask Packages
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-Script==2.0.6
Flask-WTF==1.2.1
#Flask-User==1.0.1.5

flask_socketio
# Automated tests
pytest==8.3.3
pytest-cov==5.0.0
